@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Test Application</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p> Here are some Images Below that I took. Enjoy :D</p>
</div>

<div style="text-align: center;">
    <img src="~/Resources/_DSC0005_PSMS_jpg.jpg" style="width: 500px; box-shadow: 0 .5rem 1rem rgb(0 0 0); margin: 5px;" class="box-shadow" />
    <img src="~/Resources/_DSC0007_jpg.jpg" style="width: 500px; box-shadow: 0 .5rem 1rem rgb(0 0 0); margin: 5px;" class="box-shadow" />
    <img src="~/Resources/_DSC0009_jpg.jpg" style="width: 500px; box-shadow: 0 .5rem 1rem rgb(0 0 0); margin: 5px;" class="box-shadow" />
    <img src="~/Resources/_DSC0009_PSMS_jpg.jpg" style="width: 500px; box-shadow: 0 .5rem 1rem rgb(0 0 0); margin: 5px;" class="box-shadow" />
</div>
